snippet met
        public functiona ${1}() {
        {
                ${2}
        }

snippet pmet
        protected functiona ${1}() {
        {
                ${2}
        }

snippet rg
        Route::get('${1}', '${2}');

snippet rp
        Route::post('${1}', '${2}');

snippet $
        $this->${1}
